<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.pm/menu.application" insertBefore="reports">
        <menu id="project" caption="msg://com.company.pm/menu.project">
            <item screen="Project.browse"
                  caption="msg://com.company.pm.screen.project/projectBrowse.menu"/>
            <item screen="Task_.browse"
                  caption="msg://com.company.pm.entity.task/taskBrowse.menu"/>
            <item screen="Subtask.browse"
                  caption="msg://com.company.pm.screen.subtask/subtaskBrowse.menu"/>
            <item screen="TaskStatistics"
                  caption="msg://com.company.pm.screen.taskstatistics/taskStatistics.caption"/>
            <item screen="ProjectSnapshotBrowse"
                  caption="msg://com.company.pm.screen.projectsnapshotbrowse/projectSnapshotBrowse.caption"/>
        </menu>
        <item screen="User.browse" caption="msg://com.company.pm.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="ProjectStats.browse"
              caption="msg://com.company.pm.dtos.projectstats/projectStatsBrowse.menu"/>
        <item screen="UserInfo.browse"
              caption="msg://com.company.pm.screen.userinfo/userInfoBrowse.menu"/>
        <item screen="Tag.browse"
              caption="msg://com.company.pm.screen.tag/tagBrowse.menu"/>
        <item screen="ProjectBudget.browse"
              caption="msg://com.company.pm.screen.projectbudget/projectBudgetBrowse.menu"/>
        <item screen="TimeSheet.browse"
              caption="msg://com.company.pm.screen.timesheet/timeSheetBrowse.menu"/>
        <item screen="Post.browse"
              caption="msg://com.company.pm.screen.post/postBrowse.menu"/>
    </menu>

</menu-config>